.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0F172B;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid #1e2a45;
}

.footer .left,
.footer .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.findme{
    border-right: 2px solid #314158;
    padding: 10px 10px 10px 10px;
}

.footer a {
  text-decoration: none;
  color: #c0c0c0;
  padding: 10px 10px 10px 10px;
      border-right: 2px solid #314158;

  border-radius: 4px;
  transition: all 0.3s ease;
}

.footer a:hover {
  background-color: #314158;
  color: #ffffff;
}
